<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Christmas Dashboard
  </title>

  <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
  <link rel="stylesheet" href="/round_3/styles.css" />
  <link rel="stylesheet" href="/round_3/christmas_needs.css" />
  </head>

  <body>
    <div id="directors">
      <h2>
        Directors
      </h2>
      <table>
        <tr>
          <th>
            Position
          </th>
          <th>
            Filled?
          </th>
        </tr>

        <% @table_rows.each do |need_slug, need| %>
          <tr>
            <td>
              <%= need_slug.to_s.gsub('_', ' ').capitalize %>
            </td>
            <td>
              <% if need[:percent] >= 100 %>
                <span class="filled">Yes</span>
              <% else %>
                <span class="unfilled">No</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="gauges">
      <h2>
        Primary volunteer needs
      </h2>
      <% @primary_gauges.each do |need_slug, need| %>
        <figure id="<%= need_slug %>"
             class="chart"
             data-goal="<%= need[:goal] %>"
             data-percent="<%= need[:percent] %>"
             data-current="<%= need[:current] %>"
             data-title="<%= need_slug.to_s.gsub('_', ' ').capitalize %>">
        </figure>
      <% end %>
    </div>

    <div class="gauges">
      <h2>
        Donation needs
      </h2>
      <% @donation_gauges.each do |need_slug, need| %>
        <figure id="<%= need_slug %>"
             class="chart"
             data-goal="<%= need[:goal] %>"
             data-percent="<%= need[:percent] %>"
             data-current="<%= need[:current] %>"
             data-title="<%= need_slug.to_s.gsub('_', ' ').capitalize %>">
        </figure>
      <% end %>
    </div>

    <div class="gauges">
      <h2>
        Minor volunteer needs
      </h2>
      <% @minor_gauges.each do |need_slug, need| %>
        <figure id="<%= need_slug %>"
             class="chart"
             data-goal="<%= need[:goal] %>"
             data-percent="<%= need[:percent] %>"
             data-current="<%= need[:current] %>"
             data-title="<%= need_slug.to_s.gsub('_', ' ').capitalize %>">
        </figure>
      <% end %>
    </div>

    <script src="/jquery-3.4.1.js"></script>
    <script src="/highcharts-8.0.0.js"></script>
    <script src="/highcharts-more-8.0.0.js"></script>
    <script src="/highcharts-solid-gauge-8.0.0.js"></script>
    <script src="/round_3/christmas_needs/chart"></script>
  </body>
</html>


